<div class="container">
    <div class="card">
        <div style="height: 250px;">
            <app-carousel [carouselImages]="selectedRestaurant.images"></app-carousel>
        </div>
        
        <div class="top-section">
            <div class="details">
                <h1 class="title">{{selectedRestaurant.restuarantName}}</h1>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="score">4.5</span>
                    <span class="reviews">(120 reviews)</span>
                </div>
                <div class="info">
                    <p><strong>Categoria:</strong> {{selectedRestaurant.category.category}}</p>
                    <p><strong>Precio promedio:</strong> <span class="price-range"> {{selectedRestaurant.avgPrice | currency : "COP" : "symbol-narrow" : "1.0-0"}}</span></p>
                </div>
                <div class="actions">
                    <button class="btn review-btn">Reseñar</button>
                    <button class="btn favorite-btn">Añadir a favoritos</button>
                </div>
            </div>
        </div>

        <div class="description">
            <h2>Sobre {{selectedRestaurant.restuarantName}}</h2>
            <p>{{selectedRestaurant.restuarantDescription}}</p>
        </div>

        <div class="grid-container">
            <div class="contact">
                <h3>Contacto y ubicación</h3>
                <p><strong>Address:</strong> {{selectedRestaurant.address}}</p>
                <p><strong>Phone:</strong> <a href="tel:1234567890"> {{selectedRestaurant.phoneNumber}}</a></p>
                <p><strong>Website:</strong> <a href="http://example.com" target="_blank"> {{selectedRestaurant.pageLink}}</a></p>
            </div>
            <div class="hours">
                <h3>Horarios</h3>
                <p><strong>Monday:</strong> 9:00 AM - 9:00 PM</p>
                <p><strong>Tuesday:</strong> 9:00 AM - 9:00 PM</p>
            </div>
        </div>

        <div class="features">
            <h3>Caraterísticas y comodidades</h3>
            <div class="feature-list">
                <span class="feature">Free WiFi</span>
                <span class="feature">Outdoor Seating</span>
                <span class="feature">Pet Friendly</span>
            </div>
        </div>
    </div>
</div>