<div class="container">
    <h2 style="margin-top: 0;">Restaurantes</h2>
    <div class="restaurant-grid">
        @for (restaurant of restaurantList; track $index) {
            @if (restaurant.idRestaurant != 0) {
                <div class="restaurant-card">
                    <p class="restaurant-name">{{restaurant.restuarantName}}</p>
                    <div style="height: 200px;">
                        <app-carousel [carouselImages]="restaurant.images"></app-carousel>
                    </div>
                    <form class="restaurant-form">
                        <label for="email">{{restaurant.address}}</label>
                        <label for="password">{{restaurant.pageLink}}</label>
                    </form>
                    <div class="button-container">
                        <button class="create-review-button"
                        (click)="validateCreateReview(restaurant)">Reseñar</button>
                        <button class="see-more-button"
                        (click)="seeMoreRestaurant(restaurant)">Ver mas</button>
                    </div>
                </div>
            }@else if(restaurant.idRestaurant === 0){
                <div class="restaurant-card skeleton">
                    <p class="restaurant-name skeleton-text"></p>
                    <div class="carousel-skeleton"></div>
                    <form class="restaurant-form">
                        <label class="skeleton-text"></label>
                        <label class="skeleton-text"></label>
                    </form>
                </div>
            }
        }
    </div>
    <div style="margin-top: 10px;">
        <app-pageable [page]="restaurantListPageable"
        (changePageEventEmitter)="changePage($event)"/>
    </div>
</div>

@if (isNotAuthModal) {
    <div class="modal-overlay" (click)="closeModal($event)">
        <div class="modal" (click)="$event.stopPropagation()">
            <span class="close-modal" (click)="isNotAuthModal = false">&times;</span>
            <h3>Para reseñar un restaurante, inicia sesión</h3>
            <button class="create-review-button" (click)="navigateToLogin()">Iniciar sesión</button>
            <div class="signup-link">
                ¿No tienes cuenta? <a (click)="navigateToSignup()">Registrate</a>
            </div>
        </div>
    </div>
}
