<div class="restaurant-grid">
    <!-- Iteración de restaurantes en Angular/JS -->
    @for (restaurant of restaurantList; track $index) {
        <div class="restaurant-card">
            <p class="restaurant-name">{{restaurant.restuarantName}}</p>
            <app-carousel [carouselImages]="restaurant.images"></app-carousel>
            <form class="restaurant-form">
                <label for="email">{{restaurant.address}}</label>
                <label for="password">{{restaurant.pageLink}}</label>
            </form>
        </div>
    }
</div>
<app-pageable [page]="restaurantListPageable"
(changePageEventEmitter)="changePage($event)"/>
