<div class="container">
    <div class="profile-card">
        <img src="477.jpg" class="cover-pic">
        <img [src]="user.image" class="profile-pic" (click)="openImageModal(user.image)">
        <div class="information-container">
            <h1>{{userResponse.fullName}}</h1>
            <p>Desarrollador amante de la comida</p>
            <div class="btn-container">
                <button class="create-review-button">Seguir</button>
                <button class="see-more-button">Mensaje</button>
            </div>
        </div>
        <div class="row">
            <div>
                <p>Seguidores</p>
                <h2>100k</h2>
            </div>
            <div>
                <p>Siguiendo</p>
                <h2>120k</h2>
            </div>
            <div>
                <p>Reseñas</p>
                <h2>30</h2>
            </div>
        </div>
    </div>
</div>
@if (changeImageModal) {
    <div class="modal-backdrop" (click)="closeImageModal()"></div>
    <div class="image-modal">
        <div class="modal-header">
            <h3 style="margin-top: 0;">Cambiar imagen</h3>
        </div>
        <div class="modal-content">
            <img [src]="selectedImage" class="change-profile-pic">
        </div>
        <div class="modal-footer">
            <input type="file" id="imageInput" class="d-none" multiple/>
            <fa-icon [icon]="faTrash" (click)="closeImageModal()"></fa-icon>
        </div>
    </div>
}
