.container{
    width: 100%;
    min-height: min-content;
    display: flex;
    align-items: start;
    justify-content: center;
}

.profile-card{
    width: 100%;
    max-width: 100%;
    color: #333;
}

.banner-image {
    display: block;
    width: 100%;
    height: 325px;
    overflow: hidden;
    position: relative;
}

.banner-image fa-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    color: #000;
    cursor: pointer;
    background-color: #fff;
    border: solid #000;
    border-radius: 50%;
    padding: 6px;
}

.cover-pic{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: block;
}

.profile-image{
    position: relative;
    display: block;
    width: 200px;
    border-radius: 50%;
    margin-top: -140px;
    margin-left: 5%;
    cursor: pointer;
}

.profile-pic{
    border-radius: 50%;
    display: block;
    width: 200px;
    cursor: pointer;
}

.content{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    box-shadow: 0 0 0 0 #fff;
    transition: box-shadow 0.5s, opacity 1s;
}

.content fa-icon{
    font-size: 50px;
    color: #fff;
}

.content:hover{
    opacity: 1;
}

.information-container{
    display: flex; 
    justify-content: start; 
    flex-direction: column;
}

.btn-container{
    display: flex; 
    gap: 10px;
}

.create-review-button {
    width: 50%;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 0.875rem;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.see-more-button {
    width: 50%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 0.875rem;
    font-weight: 500;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.see-more-button:hover {
    background-color: rgba(232, 232, 232, 0.9);
}

.profile-pic:hover{
    box-shadow: 0 0 0 5px #fff;
}

.profile-card h1{
    font-weight: 600;
    margin-bottom: 0;
}

.follow-btn{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ff004f;
    color: #555;
    padding: 6px 35px;
    border-radius: 4px;
    margin: 25px 0;
}

.row{
    display: flex;
    justify-content: space-around;
}

.row h2{
    margin: 0;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

.image-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    z-index: 1001;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.modal-header {
    border-bottom: 1px solid #eaeaea;
  }
  
.modal-content {
    padding: 16px;
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
  
.modal-footer {
    padding: 16px 16px 0 16px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.image-modal h3{
    text-align: center;
}

.change-profile-pic{
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 0 0 #fff;
    transition: box-shadow 0.5s;
}

input[type="file"]{
    display: none;
}

.upload-img-btn{
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    background:#000;
    text-align: center;
    padding: 15px;
}

