<header class="bg-blue-700 h-16">
    <nav class="flex items-center justify-between w-[92%] mx-auto py-2">
        <div class="flex items-center gap-6">
            <a class="font-sans text-2xl font-bold uppercase text-white">
                Restaurant Reviews
            </a>
            <div class="nav-links duration-500 md:static absolute 
            md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                    <li>
                        <a class="hover:text-gray-500 text-white" href="">Restaurantes</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500 text-white" href="">Reseñas</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500 text-white" href="">Categorias</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            @if (isLoggedIn() !== "true") {
                <button
                    class="flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-900
                    hover:bg-white hover:text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    (click)="login()" 
                    type="button">
                    Iniciar sesión
                </button>
            }@else if(isLoggedIn() === "true") {
                <button
                class="flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-900
                hover:bg-white hover:text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                (click)="logOut()" 
                type="button">
                    Cerrar sesion
                </button>
            }
        </div>
    </nav>
</header>
