.header{
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
}

/* Main */
.main {
    margin-top: 4rem; /* mt-16 */
    padding: 1rem 5rem; /* px-20 py-4 */
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) { /* md */
    .main {
        margin-top: 3.75rem; /* md:mt-15 */
    }
}

@media (max-width: 767px) { /* md */
    .main {
        margin-top: 3.75rem;
        padding: 1rem 3rem; /* md:mt-15 */
    }
}


