<div class="container">
    <div>
        <h2 style="margin-top: 0;">Reseñas</h2>
    </div>
    <div class="search-container">
        <div style="display: flex; width: 90%;">
            <input 
            type="text"
            placeholder="Buscar"
            [(ngModel)]="searchItem"
            (keyup.enter)="filterReview()">
            <button class="create-review-button" (click)="filterReview()">Buscar</button>
        </div>
        <button class="create-review-button">Crear reseña</button>
    </div>
    <div>
        @for (review of reviewList; track $index) {
            <div class="review-container">
                <h3 style="margin-top: 0;">{{review.title}}</h3>
                <span>{{review.restaurant.restuarantName}}</span>
                <div class="parent">
                    <div class="image-carrousel-grid">
                        <div>
                            @if (review.images.length > 0) {
                                <div style="height: 200px;">
                                    <app-carousel [carouselImages]="review.images"></app-carousel>
                                </div>
                            }@else{
                                <div class="carousel-container skeleton">
                                    <div class="carousel-image-placeholder"></div>
                                    <div class="carousel-dot-container">
                                        @for (dot of dots; track $index) {
                                            <span class="dot skeleton-dot"></span>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="review-details-grid">
                        <div style="display: flex; gap: 20px;">
                            <div class="rating">
                                <span>Lugar: </span>
                                <div class="star-rating">
                                    @for (star of getStars(review.place); track $index) {
                                        <span [ngClass]="{ 'filled': star }">★</span>
                                    }
                                </div>
                            </div>
                            <div class="rating">
                                <span>Comida: </span>
                                <div class="star-rating">
                                    @for (star of getStars(review.food); track $index) {
                                        <span [ngClass]="{ 'filled': star }">★</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; gap: 20px;">
                            <div class="rating">
                                <span>Música: </span>
                                <div class="star-rating">
                                    @for (star of getStars(review.music); track $index) {
                                        <span [ngClass]="{ 'filled': star }">★</span>
                                    }
                                </div>
                            </div>
                            <div class="rating">
                                <span>Bebidas: </span>
                                <div class="star-rating">
                                    @for (star of getStars(review.drinks); track $index) {
                                        <span [ngClass]="{ 'filled': star }">★</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div>
                            <p>{{review.comments}}</p>
                        </div>
                    </div>
                    <div class="see-more-button-grid">
                        <button class="create-review-button" style="width: 50%;">Ver detalle</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

