.navbar-container {
    max-width: 80%; /* Equivalente a max-w-7xl */
    margin: 0 auto; /* mx-auto */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Desktop Navigation */
.navbar-desktop {
    display: none; /* Oculto por defecto, visible en pantallas más grandes */
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 1.125rem; /* text-lg */
    font-weight: bold;
}

.navbar-menu {
    display: flex;
    gap: 1rem; /* space-x-4 */
}

.navbar-menu a, .navbar-auth a {
    color: #4B5563; /* text-gray-700 */
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-menu a:hover, .navbar-auth a:hover {
    color: #1F2937; /* hover:text-gray-900 */
}

.navbar-menu a.active {
    color: #4B5563;
    border-bottom: 2px solid #4B5563;
}

.navbar-auth {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;

}

.user-info img{
    width: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
    cursor: pointer;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link img {
    width: 30px;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translate(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}

.navbar-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-mobile button {
    color: #4B5563;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-mobile button:hover {
    color: #1F2937;
}

.navbar-mobile svg {
    height: 1.5rem;
    width: 1.5rem;
}

.login-button {
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 0.875rem;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.see-more-button {
    width: 50%;
    height: 40px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 0.875rem;
    font-weight: 500;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.see-more-button:hover {
    background-color: rgba(232, 232, 232, 0.9);
}

/* Responsive Styles */
@media (min-width: 768px) { /* md:flex */
    .navbar-desktop {
        display: flex;
    }

    .navbar-mobile {
        display: none;
    }
}


