<div class="navbar-container">
    <!-- Desktop Navigation -->
    <div class="navbar-desktop">
        <div class="navbar-logo">RR</div>
        <nav class="navbar-menu">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
            <a routerLink="/review-list" routerLinkActive="active">Reseñas</a>
            <a routerLink="/restaurant-list" routerLinkActive="active">Restaurantes</a>
        </nav>
        <div class="navbar-auth">
          @if (user.isAuth) {
              <img [src]="user.image" alt="" class="user-pic" (click)="toggleProfileMenu()">
              <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img [src]="user.image" alt="">
                        <h3>Juan Pablo Giraldo</h3>
                    </div>
                    <hr>
                    <a href="" routerLink="/profile" class="sub-menu-link">
                        <img src="profile.png" alt="">
                        <p>Cuenta</p>
                        <span>></span>
                    </a>
                    <a class="sub-menu-link">
                        <img src="help.png" alt="">
                        <p>Ayuda</p>
                        <span>></span>
                    </a>
                    <a (click)="logoutHandler()" class="sub-menu-link">
                        <img src="logout.png" alt="">
                        <p>Cerrar sesión</p>
                        <span>></span>
                    </a>
                    
                </div>
              </div>
          }@else {
              <button (click)="registerHandler()" class="see-more-button">Signup</button>
              <button (click)="loginHandler()" class="login-button">Login</button>
          }
        </div>
    </div>
  
    <!-- Mobile Navigation -->
    <div class="navbar-mobile">
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
        </button>
        <div class="navbar-logo">RR</div>
    </div>
  </div>
  