<div class="flex justify-around items-center p-2">
    <a href="#" class="text-gray-700 hover:text-gray-900 flex flex-col items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12h18M3 6h18M3 18h18" />
      </svg>
      <span class="text-xs">Menu</span>
    </a>
    <a href="#" class="text-gray-700 hover:text-gray-900 flex flex-col items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M12 5v14" />
      </svg>
      <span class="text-xs">Shop</span>
    </a>
    <a href="#" class="text-gray-700 hover:text-gray-900 flex flex-col items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
      <span class="text-xs">Account</span>
    </a>
    <label for="cartToggle" class="cursor-pointer text-gray-700 hover:text-gray-900 flex flex-col items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7h18M3 12h18m-7 6h7" />
      </svg>
      <span class="text-xs">Basket</span>
    </label>
</div>