<div class="container">
    <div class="review-box">
        <h2>{{selectedRestaurant.restuarantName}}</h2>
        <form (ngSubmit)="onSubmit(reviewForm)" #reviewForm="ngForm">
            <div class="input-container">
                <div class="peer-rating-container">
                    <div>
                        <label for="">Lugar</label>
                        <div class="star-rating">
                            <ng-container *ngFor="let star of stars; let i = index">
                                <input type="radio" [(ngModel)]="reviewRequest.place" name="place" [value]="5 - i" id="place-{{5 - i}}">
                                <label for="place-{{5 - i}}">★</label>
                            </ng-container>
                        </div>
                    </div>
                    <div>
                        <label for="">Comida</label>
                        <div class="star-rating">
                            <ng-container *ngFor="let star of stars; let i = index">
                                <input type="radio" [(ngModel)]="reviewRequest.food" name="food" [value]="5 - i" id="food-{{5 - i}}">
                                <label for="food-{{5 - i}}">★</label>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="peer-rating-container">
                    <div>
                        <label for="">Servicio</label>
                        <div class="star-rating">
                            <ng-container *ngFor="let star of stars; let i = index">
                                <input type="radio" [(ngModel)]="reviewRequest.service" name="service" [value]="5 - i" id="service-{{5 - i}}">
                                <label for="service-{{5 - i}}">★</label>
                            </ng-container>
                        </div>
                    </div>
                    <div>
                        <label for="">Bebidas</label>
                        <div class="star-rating">
                            <ng-container *ngFor="let star of stars; let i = index">
                                <input type="radio" [(ngModel)]="reviewRequest.drinks" name="drinks" [value]="5 - i" id="drinks-{{5 - i}}">
                                <label for="drinks-{{5 - i}}">★</label>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="peer-rating-container">
                    <div>
                        <label for="">Música</label>
                        <div class="star-rating">
                            <ng-container *ngFor="let star of stars; let i = index">
                                <input type="radio" [(ngModel)]="reviewRequest.music" name="music" [value]="5 - i" id="music-{{5 - i}}">
                                <label for="music-{{5 - i}}">★</label>
                            </ng-container>
                        </div>
                    </div>
                    <div>
                        <label for="">Menú</label>
                        <div class="star-rating">
                            <ng-container *ngFor="let star of stars; let i = index">
                                <input type="radio" [(ngModel)]="reviewRequest.menu" name="menu" [value]="5 - i" id="menu-{{5 - i}}">
                                <label for="menu-{{5 - i}}">★</label>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="peer-rating-container">
                    <div>
                        <label for="">Tiempo de espera</label>
                        <div class="star-rating">
                            <ng-container *ngFor="let star of stars; let i = index">
                                <input type="radio" [(ngModel)]="reviewRequest.waitingTime" name="waitingTime" [value]="5 - i" id="waitingTime-{{5 - i}}">
                                <label for="waitingTime-{{5 - i}}">★</label>
                            </ng-container>
                        </div>
                    </div>
                    <div>
                        <label for="">Ambientación</label>
                        <div class="star-rating">
                            <ng-container *ngFor="let star of stars; let i = index">
                                <input type="radio" [(ngModel)]="reviewRequest.waitingTime" name="waitingTime" [value]="5 - i" id="waitingTime-{{5 - i}}">
                                <label for="waitingTime-{{5 - i}}">★</label>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <label for="">Comentarios</label>
                <textarea [(ngModel)]="reviewRequest.comments"
                    name="comments"
                    rows="5"
                    cols="50"
                    style="resize: vertical; overflow-y: auto; width: 100%;">
                </textarea>
            </div>
            <button class="create-rewiew-button" type="submit">Crear reseña</button>
        </form>
    </div>
</div>
