<h3>Change Password</h3>
<form>
    <label for="currentPassword">Contraseña actual</label>
    <input id="currentPassword" type="password" formControlName="currentPassword" />

    <label for="newPassword">Nueva contraseña</label>
    <input id="newPassword" type="password" formControlName="newPassword" />

    <label for="confirmPassword">Confirmar nueva contraseña</label>
    <input id="confirmPassword" type="password" formControlName="confirmPassword" />

    <button type="submit" class="create-review-button">Update Password</button>
</form>
